---
import { CollectionEntry, getCollection } from 'astro:content'
import Layout from '../layouts/Layout.astro'
export async function getStaticPaths() {
  const accessorieEntries = await getCollection('accessories')
  return accessorieEntries.map((entry) => ({
    params: { slug: entry.slug },
    props: { entry }
  }))
}
interface Props {
  entry: CollectionEntry<'accessories'>
}

import { Image } from 'astro:assets'
import Heading from '../components/UI/Heading.astro'
const { data } = Astro.props.entry
console.log('entry', data)
---

<Layout title={data.name}>
  <main class='flex justify-center items-center flex-col gap-5'>
    <Heading size='h1' classes='text-center'>{data.name}</Heading>
    {
      data.photo.map((photoIndex, i) => (
        <Image
          src={photoIndex}
          height={540}
          width={550}
          alt={`alt-photo-${i}`}
          class={'rounded-full'}
        />
      ))
    }
  </main>
</Layout>
