---
import Layout from '../layouts/Layout.astro'
import Card from '../components/Card.astro'

import { getCollection } from 'astro:content'
import Heading from '../components/UI/Heading.astro'
const allAccessories = await getCollection('accessories')
---

<Layout title='Welcome to Astro.'>
  <main class='p-5'>
    <Heading size='h1' classes='text-center'>C'est pas des mensonges</Heading>
    <section class='container max-w-7xl mx-auto space-y-5 pt-5 px-5'>
      {allAccessories.map((accessory) => <Card accessory={accessory} />)}
    </section>
  </main>
</Layout>
