---
import Layout from '../layouts/Layout.astro'
import CategoryCard from '../components/UI/CategoryCard.astro'
import Hero from '../components/Hero.astro'
import Header from '../components/Header.astro'
---

<Layout title={"C'est pas des mensonges"}>
  <Header />
  <main class='space-y-10 p-4 max-w-7xl mx-auto'>
    <Hero />
    <CategoryCard />
  </main>
</Layout>
