---
import Heading from './UI/Heading.astro'
import Link from './UI/Link.astro'
import { Image } from 'astro:assets'

//Optimized Images
import path_hero_src from '../assets/hero/default-hero.jpeg'
---

<section class='h-[30vh] relative flex'>
  <Image
    class='object-cover object-center w-full h-full rounded-xl'
    alt={'hero_img'}
    src={path_hero_src}
    quality={'low'}
  />
  <div
    class='absolute bg-gradient-to-b from-expresso-500 via-transparent to-expresso-500 bg-blend-multiply w-full h-full'
  >
    <div
      class='bg-gradient-to-r from-expresso-500 via-transparent to-expresso-500 bg-blend-multiply w-full h-full justify-center items-center flex flex-col gap-y-4'
    >
      <Heading size='h2' classes='text-white'>Let's shop</Heading>
      <Link href='#' classes='text-white' style='square'>Go !</Link>
    </div>
  </div>
</section>
