---
import { Image } from 'astro:assets'

interface Props {
  imageArray: any[]
}

const { imageArray } = Astro.props
---

<div class='flex flex-col justify-start'>
  <Image
    src={imageArray[0]}
    alt={`alt-photo-carousel-main`}
    class={`object-cover w-auto h-auto main-img rounded-t-xl`}
  />
  <div class='grid grid-cols-4 gap-4 py-4'>
    {
      imageArray.map((e, i) => (
        <Image
          id={`img-id-${i}`}
          src={e}
          alt={`alt-photo-carousel-${i}`}
          class={`object-contain col-span-1 h-auto on-click object-left border border-white `}
          width={1000}
        />
      ))
    }
  </div>
</div>

<script>
  const temp = () => {
    const buttons = document.querySelectorAll('img.on-click')
    const mainImg = document.querySelector('img.main-img')

    buttons.forEach((img) => {
      img.addEventListener('click', () => {
        console.log('clicked')
        mainImg?.setAttribute('src', img.getAttribute('src')!)
      })
    })
  }
  temp()
  document.addEventListener('astro:after-swap', () => temp())
</script>
